body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: red;
}

.heading-section > h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.section-2-content h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.individual-brief-left {
  margin-top: 200px;
  /* text-align: left; */
}

.individual-brief-right {
  margin-top: 200px;
  /* text-align: right; */
}

.team-image-1 > h4 {
  text-align: center;
  margin-top: 20px;
}



@media only screen and (max-width: 600px) {
  .logo-1 {
    height: 80px;
  }

  .logo-3 {
    height: 80px;
  }

  .nav-btn {
    margin-top: 30px;
  }

  .individual-brief-left {
    margin-top: 100px;
    text-align: left;
  }

  .individual-brief-right {
    margin-top: 100px;
    text-align: right;
  }

  .section-2 {
    display: flex;
    flex-direction: column-reverse;
  }

    
  .section-2-images img:nth-child(1) {
    width: 100px;
  }
  .section-2-images img:nth-child(2) {
    width: 100px;
    height: 100px;
    margin-top: 5px;
  }
  .section-2-images img:nth-child(3) {
    width: 160px;
    height: 100px;
    margin-top: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .logo-1 {
    height: 120px;
  }

  .logo-3 {
    height: 120px;
  }

  .nav-btn {
    margin-top: 30px;
  }
  .section-2 {
    margin: unset;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navbar-nav {
    margin-top: 30px;
  }
  .logo-1 {
    height: 120px;
  }

  .logo-3 {
    height: 120px;
  }

  .nav-btn {
    margin-top: 30px;
  }

  .section-1 {
    background-color: rgb(255, 255, 255);
    height: 600px;
  }

  .team-image-1 > img {
    object-fit: cover;
    width: 300px;
    margin: auto;
    margin-top: 90px;
    border-radius: 30px;
  }

  .section-2-images img:nth-child(1) {
    width: 130px;
  }
  .section-2-images img:nth-child(2) {
    width: 180px;
    height: 100px;
    margin-top: 10px;
  }
  .section-2-images img:nth-child(3) {
    width: 160px;
    height: 100px;
    margin-top: 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar {
    height: 120px;
  }

  .navbar-nav {
    margin-top: 30px;
  }
  .logo-1 {
    height: 90px;
  }

  .logo-2 {
    height: 90px;
  }

  .section-1 {
    background-color: rgb(255, 255, 255);
    height: 600px;
  }

  .team-image-1 > img {
    object-fit: cover;
    width: 300px;
    margin: auto;
    margin-top: 90px;
    border-radius: 30px;
  }

  .section-2-content h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .section-2-images img:nth-child(1) {
    width: 130px;
  }
  .section-2-images img:nth-child(2) {
    width: 180px;
    height: 100px;
    margin-top: 10px;
  }
  .section-2-images img:nth-child(3) {
    width: 160px;
    height: 100px;
    margin-top: 10px;
  }

  .individual-brief-left {
    margin-top: 200px;
    text-align: left;
  }

  .individual-brief-right {
    margin-top: 200px;
    text-align: right;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .navbar {
    height: 120px;
  }
  .logo-1 {
    height: 100px;
    padding-left: 120px;
  }

  .logo-2 {
    height: 100px;
    padding-right: 100px;
  }

  .heading-section > h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
  }

  .section-1 {
    background-color: rgb(255, 255, 255);
    height: 600px;
  }

  .team-image-1 > img {
    object-fit: cover;
    width: 300px;
    margin: auto;
    margin-top: 90px;
    border-radius: 30px;
  }

  .section-2 {
    background-color: rgb(255, 255, 255);
  }

  .section-2-content h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .individual-brief-left {
    margin-top: 160px;
    text-align: left;
  }

  .individual-brief-right {
    margin-top: 160px;
    text-align: right;
  }

  .section-2-images {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .section-2-images img:nth-child(1) {
    width: 130px;
  }
  .section-2-images img:nth-child(2) {
    width: 180px;
    height: 100px;
    margin-top: 10px;
  }
  .section-2-images img:nth-child(3) {
    width: 160px;
    height: 100px;
    margin-top: 10px;
  }
}
